@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="nav-link text-primary" asp-area="" asp-controller="Database" asp-action="Categories">Categories</a>
<a class="nav-link text-primary" asp-area="" asp-controller="Database" asp-action="SubCategories">Sub categories</a>
<a class="nav-link text-primary" asp-area="" asp-controller="Database" asp-action="Currencies">Currencies</a>
<a class="nav-link text-primary" asp-area="" asp-controller="Database" asp-action="Countries">Countries</a>
<a class="nav-link text-primary" asp-area="" asp-controller="Database" asp-action="Cities">Cities</a>