@using Mvc_Project_Client.Models
@model Mvc_Project_Client.Models.User

@{
    ViewData["Title"] = "Profile";
    User user = (Model == null ? new User() : Model);
}

<h1>Profile</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        @await Component.InvokeAsync("PersonalInfo")
    </div>
</div>

<div class="row">
    <div class="col-auto">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-action="BecomeVendor" asp-controller="Account">I want to be a vendor</a>
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@await Component.InvokeAsync("Datalist", new { id = "Countries" })
@await Component.InvokeAsync("CitiesList")

<datalist id="Cities-Filtered">
</datalist>